<!DOCTYPE html>
<html>
<head>
	<link href="/styles/style.css" rel="stylesheet">
	<title></title>
</head>
<body>

	<h1>Hello World!</h1>	

	<% 10.times do |i| %>
	<li><%= i * i %></li>
	<% end %>

</body>
</html>